//Fonts

$font-text: "Varela Round", sans-serif;
$font-title: "Architects Daughter", cursive;

//colors

$color-title: #5d1372;
$color-title2: #681c7c;
$color-title3: #784086;
$purple-light: #743385;
