//Fonts

$font-text: "Varela Round", sans-serif;
$font-title: "Architects Daughter", cursive;

//colors

$color-title: #5d1372;
$color-title2: #681c7c;
$purple-medium: #732487;
$purple-light: #884299;
