@import "core/variables";
@import "core/reset";

.title_article {
  font-family: $font-title;
  color: $color-title2;
  font-size: 20px;
  padding-bottom: 10px;
}
.container_article {
  font-family: $font-text;
  font-size: 16px;
  padding-bottom: 10px;
}
.img_article {
  width: 80vw;
  height: 13vh;
}
.title_article_2 {
  font-family: $font-title;
  color: $color-title3;
}
.title_example {
  padding-top: 10px;
  padding-bottom: 5px;
}
.list_article {
  margin-left: 10px;
}
