@import "core/variables";
@import "core/reset";

.header {
  background-color: #a770b2;
}

.title {
  font-family: $font-title;
  text-align: center;
  -webkit-text-stroke: 1px black;
  color: $color-title;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 30px;
  @media all and (min-width: 768px) {
    font-size: 36px;
  }
  @media all and (min-width: 1200px) {
    font-size: 46px;
  }
  @media all and (min-width: 2000px) {
    font-size: 60px;
  }
}
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 40px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.list {
  text-decoration: none;
  list-style: none;
  font-family: $font-text;
  color: $color-title2;
  font-size: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 10px;
  text-align: center;
  @media all and (min-width: 768px) {
    font-size: 20px;
  }
  @media all and (min-width: 1200px) {
    font-size: 30px;
  }
  @media all and (min-width: 2000px) {
    font-size: 36px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
}
